@model Club_27.Models.Enrollment

@{
    ViewData["Title"] = "Details";
    //var obj = ViewBag.GetObj;
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            Enrollment ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentID)
        </dd>
        <dt class = "col-sm-2">
            Employee ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
         <dt class = "col-sm-2">
            Employee Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            Activity ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityID)
        </dd>
         <dt class = "col-sm-2">
            Activity Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            Venue ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.ID)
        </dd>
         <dt class = "col-sm-2">
            Venue Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EnrollmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
