@model IEnumerable<Club_27.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>Enrollment No.</th>
                <th>Employee</th>
                <th>Activity</th>
                <th>Venue</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.EnrollmentID</td>
            <td>@item.Employee.EmployeeName</td>
            <td>@item.Activity.ActivityName</td>
            <td>@item.Venue.VenueName</td>
            <td>
                <a asp-controller="Enrollments" asp-action="Edit" asp-route-id="@item.EnrollmentID">Edit</a> |
                <a asp-controller="Enrollments" asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
