@model IEnumerable<Club_27.Models.EmployeeMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>@item.Role.RoleName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@*@model IEnumerable<Club_27.ViewModels.EnrollmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeVM.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeVM.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeVM.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeVM.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeVM.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeVM.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeVM.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeVM.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeVM.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
