@model Club_27.Models.Booking

@{
    ViewData["Title"] = "Create";
    var venueListItem = ViewBag.venueDropDown;
    var activityListItem = ViewBag.activityDropDown;
    var teamListItem = ViewBag.teamDropDown;
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<h1>Create</h1>

<h4>Booking</h4>
<hr />

<form method ="post">
  <br />
  
  <br />
        <select asp-for ="ActivityID">
           <option selected>--Activity--</option>
            @foreach (var item in activityListItem)
                    {
                        <option value="@item.ActivityID">@item.ActivityName</option>
                    }
       </select>
       <br />
       <br/>
  <select asp-for ="VenueID">
           <option selected>--Venue--</option>
           @foreach (var item in venueListItem)
                    {
                        <option value="@item.ID">@item.VenueName</option>
                    }
       </select>
    <br />
       <br />
       <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
  </div>
  <br />
     <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
  </div>
  <br />
@*  <div class="form-group">
                <label asp-for="Fixture" class="control-label"></label>
                <input asp-for="Fixture" class="form-control" />
                <span asp-validation-for="Fixture" class="text-danger"></span>
  </div>*@
  <br/>
  @*<div class="form-group">
            <label>Select Participants</label>
            <br/>
            @Html.ListBoxFor(Model => Model.ParticipantList, (IEnumerable<SelectListItem>)teamListItem , new {multiple = "multiple"})
        </div>*@

         <select asp-for="ParticipantList" multiple="multiple">
            @foreach (var item in teamListItem)
                    {
                        <option value="@item.Value">@item.Value</option>
                    }
       </select>
</div>
       <br />
       <br />

       
  @*     @if (ViewBag.ErrorMessage != null)
    {
        <h1>@ViewBag.ErrorMessage</h1>
    }*@
    <button type ="submit" id= "button" class= "btn btn-primary">
       Create
   </button>

   <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.Error))
       </p> 

       <p style = "color:red;">
           @Html.Label("",Convert.ToString((string)ViewBag.OverlimitError))
       </p> 
</form>


@*<select id="sports" style="width:150px;">
    <option value="" selected hidden>-- select</option>
</select>*@

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityID" class="control-label"></label>
                <input asp-for="ActivityID" class="form-control" />
                <span asp-validation-for="ActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section scripts{
    <script>
        $(function () {       
            $("#multiSelectDropDown").chosen({
                width: "100%"
            });
            
        });
    </script>
}*@

@section scripts{
    <script>
$(document).ready(function(){
  $("#ActivityID").change(function(){
    var selectedIds = $(this).val();
      $.ajax({url: '@Url.Action("GetVenueList" , "Bookings")', type:"post", data:{id:selectedIds} ,success: function(result){
      if(result != null)
      {
          $("#VenueID").empty();
            $.each(result, function (i,value) {
                $("#VenueID").append($("<option></option>").val(value.value).html(value.text));
            });
      }
    }});
  });
});
</script>

@*<script>
$(document).ready(function(){
  $("#ParticipantList").change(function(){
    var selectedIds = $(this).val();
      $.ajax({url: '@Url.Action("GetTeamList" , "Bookings")', type:"post", data:{id:selectedIds} ,success: function(result){
      if(result != null)
      {
          $("#ParticipantList").empty();
            $.each(result, function (i,value) {
                $("#ParticipantList").append($("<option></option>").val(value.value).html(value.text));
            });
      }
    }});
  });
});
</script>*@

<script>
 $(document).ready(function()
    {
        
        $('#ParticipantList').select2();
    });
</script>
}

@*@section scripts{
    <script>
$(document).ready(function(){
  $("button").click(function(){
    $.ajax({url: '@Url.Action("Create" , "Enrollments")', type:"post" ,success: function(result){
      if(result != null)
      {
          alert(result.ToString());
      }
    }});
  });
});
</script>
}*@

@*@section scripts{
    <script>
    $(document).ready(function()
    {
        var list=
        [
            "cricket","volleyball"
        ];
        $('#sports').select2({
            data:list
        });
    });
</script>
}*@

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>

                <select id="EmployeeID" style="width:150px;">
                    <option value="">--select--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ActivityID" class="control-label"></label>
                <input asp-for="ActivityID" class="form-control" />
                <span asp-validation-for="ActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

