@model IEnumerable<Club_27.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>ID</th>
                <th>Venue Name</th>
                <th>Activity</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ID</td>
            <td>@item.VenueName</td>
            <td>@item.Activity.ActivityName</td>
            <td>
                <a asp-controller="Venues" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="Venues" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
